body {
  background-color: rgb(216, 216, 216);
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 auto;}
  #header {
    margin: 1%;}
  #content {overflow:auto;}
  h2{
    color: rgb(65, 105, 220);
    font-family: Arial Black;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;}
  #title {}
  #canvasDiv {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #UI_Container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;}
  #UI_column1, #UI_column2 {
    width: 300px;
    flex-wrap: wrap;
    float: left;}
  p {
    margin: 1%;}
