body {
  background-color: white;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 auto;}
  #header {
    margin: 1%;}
  #content {overflow:auto;
  background-color: rgb(216,216,216)}
  h1{
    color: rgb(65, 105, 220);
    font-family: Arial Black;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;}
  h3{
    color: black;
    font-family: Arial;
    text-align: left;
    margin-top: 0;
    margin-bottom: 0;
  }
  #canvasDiv {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #UI_Container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 1%;}
  #UI_column1, #UI_column2 {
    width: 300px;
    flex-wrap: wrap;
    float: left;
    margin: 1.5%;}
  #longTextContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 1%;}
  #longText {
    max-width: 500px;
    margin: 1.5%;
  }
  li {
    margin: 10px 0px 0px 0px;}
  p {
    margin: 1%;
  }
  #footerContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 1%;
  }
  #footer {
    width: 300px;
    margin: 1.5%;
  }
